<%- include('header') -%>

<h2>This is about page</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, cumque perspiciatis. Rerum explicabo amet accusantium id maxime sapiente rem sint adipisci. Voluptatibus quo unde quos esse eum, nulla molestias eligendi?</p>
  <button type="submit">Hi</button>

<%- include('footer') -%> 