<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do list -v1</title>
</head>

<body>
  <h1><%= kindOfDay %></h1>
  <p>일해라 일!</p>

  <ul>

    <% for (let i = 0; i < newListItems.length ; i++){ %>
        <li><%= newListItems[i] %></li>
    <% } %>

  </ul>

  <form action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name='button'>추가</button>
  </form>
</body>

</html>